:root {
  /* colors */
  --zero: #000;
  --two: #222;
  --four: #444;
  --six: #666;
  --eight: #888;
  --ten: #aaa;
  --twelve: #ccc;
  --fourteen: #eee;
  --fifteen: #fff;
  --pink: DeepPink;
  --blue: #1380a1;
}

:global button,
:global select,
:global input {
  -moz-appearance: none;
  -webkit-appearance: none;

  height: 32px;

  box-shadow: 2px 2px var(--four);
  border: 1px solid var(--two);
}

:global button,
:global select,
:global input[type=date],
:global input[type=time] {
  cursor: pointer;

  background-color: var(--fourteen);

  &:hover,
  &:active,
  &:focus {
    background-color: var(--fifteen);
  }
}

:global input[type=date],
:global input[type=time] {
  height: 29px;
}

:global body {
  background-color: var(--fifteen);
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
  color: var(--two)
}
