.title {
  text-align: center;

  a {
    text-decoration: none;
    color: var(--two);
    border-bottom: solid 1px transparent;

    &:hover, &:active, &:focus {
      border-color: var(--blue);
      color: var(--blue);
    }
  }
}

.subtitle {
  margin-top: 1em;
  margin-bottom: 0;
}

.box {
  box-shadow: 2px 2px var(--four);
  border: 1px solid var(--two);

  padding: 12px;
}

.page {
  box-shadow: 2px 2px var(--four);
  border: 1px solid var(--two);

  max-width: 960px;
  min-height: 80vh;

  margin: 0 auto;
  padding: 32px;

  background-color: var(--fifteen);
}

.label {
  font-size: 75%;
}

.item {
  margin-left: 16px;

  &:first-child {
    margin-left: 0;
  }
}

.hr {
  margin: 16px 0;
}

.resultsContainer {
  display: flex;
  margin: 24px 0;
  justify-content: center;
  align-items: center;

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.twoColumn {
  display: flex;
  flex-wrap: wrap;

  section {
    flex: 1 1 40%;
    margin: 12px;
    min-width: 288px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.buttonWithLoader {
  display: flex;

  > div {
    margin-left: 4px;
  }
}

.table {
  margin: 12px 0;
  width: 100%;
  border: solid 1px var(--four);
  border-collapse: collapse;

  td {
    padding: 6px;
    border-bottom: solid 1px var(--four);
    text-align: center;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }
}
