.stashpoint {
  border-bottom: 1px solid var(--two);
  text-align: left;

  a {
    color: var(--zero);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.stashpointName {
  font-weight: bold;
}

.bookButton {
  display: block;
  margin: 1em 0;
}
